



html, body
{
	height: 100%;
	font-family:  "Microsoft JhengHei", sans-serif;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #2b2b2b;
	//font-family: 'Source Sans Pro', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	color: #6c6c6c;
	font-family:  "Microsoft JhengHei", sans-serif;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: #454445;
}

p, ol, ul
{
	margin-top: 0;
}

ol, ul
{
	padding: 0;
	list-style: none;
}

p
{
	line-height: 180%;
}

strong
{
}

a
{
	color: #2C383B;
}

a:hover
{
	text-decoration: none;
}

.container
{
	margin: 0px auto;
	/*
	width: 12000px;
	*/
	width:100%;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
{
	display: inline-block;
}

.image img
{
	display: block;
	width: 100%;
}

.image-full
{
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}

.image-left
{
	float: left;
	margin: 0 2em 2em 0;
}

.image-centered
{
	display: block;
	margin: 0 0 2em 0;
}

.image-centered img
{
	margin: 0 auto;
	width: auto;
}



/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
{
	display: inline-block;
	padding: 1.3em 3em;
	background: #8dc63f;
	-moz-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
	letter-spacing: 0.20em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	color: #FFF;
}

.button:hover
{
	background: 	#9999FF;
}

.button:active
{
}

.button-big
{
	padding: 1.6em 4em;
	font-size: 1.4em;
	font-weight: 900;
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
{
	margin-bottom: 3em;
}

.title h2
{
	font-weight: 400;
	font-size: 2.8em;
	color: #323232;
}

.title .byline
{
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.1em;
	color: #6F6F6F;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
#header-wrapper
{
	background: #2b2b2b;
}

#header
{
	position: relative;
	height: 100px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
	position: absolute;
	top: 2em;
	width: 100%;
}

#logo h1
{
	display: inline-block;
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: 700;
	color: #ED7070;
	padding-right: 0.50em;
	border-right: 1px solid rgba(0,0,0,.1);
}

#logo span
{
	display: inline-block;
	padding-right: .50em;
	letter-spacing: 0.10em;
	text-transform: uppercase;
	font-size: 0.90em;
}

#logo a
{
	text-decoration: none;
	color: #FFF;
}

#logo .fa
{
	color: #8dc63f;
}

#logo .fa:after
{
	position: absolute;
	display: inline-block;
	padding-right: 2em;
}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu
{
	position: absolute;
	right: 0;
	top: 1.6em;
}

#menu ul
{
	display: inline-block;
}

#menu li
{
	display: block;
	float: left;
	text-align: center;
}

#menu li a, #menu li span
{
	display: inline-block;
	margin-left: 1px;
	padding: 1em 1.5em 0em 1.5em;
	letter-spacing: 0.10em;
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	outline: 0;
	color: #FFF;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
}

#menu .current_page_item a
{
	color: #8dc63f;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
	

	#header-featured
	{
		padding: 8em 0em;
		background-image: url(images/banner.jpg);
		background-position: center;
		background-size: cover;
	}



#banner-wrapper
{
}

#banner
{
	overflow: hidden;
	width: 1200px;
	text-align: center;
	color: rgba(255,255,255,.7);
	font-size: 1.5em;
}

#banner a
{
	color: rgba(255,255,255,.9);
}

#banner h2
{
	padding-bottom: 0.50em;
	font-weight: 400;
	font-size: 3em;
	color: #FFF;
}

#banner .button
{
	margin-top: 2em;
	background: #6fac1b;
}

#banner strong
{
	color: #FFF;
}

#banner span
{
	display: block;
	padding-top: 0.20em;
	text-transform: uppercase;
	font-size: 1.2em;
	color: #A2A2A2;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#wrapper
{
	background: #FFF;
	
}



/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content
{
	padding: 0em 7em;
}



/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright
{
	overflow: hidden;
	padding: 3em 0em 2em 0em;
	border-top: 1px solid rgba(255,255,255,0.08);
	text-align:center;
	font-size: 1.3em;
}

#copyright p
{
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	font-size: 1em;
	color: rgba(255,255,255,0.3);
}

#copyright a
{
	text-decoration: none;
	color: rgba(255,255,255,0.6);
}
/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
{
	margin: 0;
	padding: 0em 0em 0em 0em;
	overflow: hidden;
	list-style: none;
	color: #6c6c6c
}

ul.style1 li
{
	overflow: hidden;
	display: block;
	padding: 2.80em 0em;
	border-top: 1px solid #D1CFCE;
}

ul.style1 li:first-child
{
	padding-top: 0;
	border-top: none;
}

ul.style1 .image-left
{
	margin-bottom: 0;
}

ul.style1 h3
{
	padding: 1.2em 0em 1em 0em;
	letter-spacing: 0.10em;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 600;
	color: #454445;
}

ul.style1 a
{
	text-decoration: none;
	color: #525252;
}

ul.style1 a:hover
{
	text-decoration: underline;
	color: #525252;
}

ul.style2
{
	margin: 0;
	padding-top: 1em;
	list-style: none;
}

ul.style2 li
{
	border-top: solid 1px #E5E5E5;
	padding: 0.80em 0 0.80em 0;
	font-family: 0.80em;
}

ul.style2 li:before
{
	display: inline-block;
	padding: 4px;
	background: #DB3256;
}

ul.style2 a
{
	display: inline-block;
	margin-left: 1em;
}

ul.style2 li:first-child
{
	border-top: 0;
	padding-top: 0;
}

ul.style2 .icon
{
	color: #FFF;
}

ul.style3
{
	//display: inline-block;
	//margin: 0;
	
	list-style: none;
	text-align:left;
	position:relative;
	
	
	

}

ul.style3 li
{
	//border-top: solid 1px rgba(255,255,255,.2);
	padding: 0.3em 0 0.3em 0;
	font-size: 35px;
	width:34em;
	
	
	
}

ul.style3 li:before
{
	display: inline-block;
	padding: 4px;
	background: #FFF;
}

ul.style3 a
{
	display: inline-block;
	margin-left: 1em;
	font-size: 1em !important;
	color: #FFF;
}

ul.style3 li:first-child
{
	border-top: 0;
	padding-top: 0;
}

ul.style3 .icon
{
	color: #DB3256;
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured-wrapper
{
	overflow: hidden;
	padding: 1em 0em;
	background: #FFF;
	text-align: center;
	width:100%;
	
	

}

#featured
{
	overflow: hidden;
	width:100%;;
	
}

#featured .main-title
{
	margin-bottom: 4em;
}

#featured .main-title h2
{
	font-size: 4em;
}

#featured .main-title .byline
{
	font-size: 2em;
}

#featured-wrapper .icons
{
	
	width: 4em;
	height: 4em;
	font-size: 4em;
	color: 	#9999FF;
	-webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
	
}

.box{
	display: inline-block;
	margin-bottom: 2em;
	width: 18em;
	height: 18em;
	border: 1px solid #FFF;
	//border-radius: 50%;
	-webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;

}


.box:hover{
	
	border: 1px solid 	#9999FF;
	border-radius: 50%;
}


#featured-wrapper .icons:hover{
	
	color: 	#9999FF;
}













.margin-btm
{
	overflow: hidden;
	margin-bottom: -10em;
	//padding-bottom: 5em;
	//border-bottom: 1px solid rgba(0,0,0,.1);
}

.extra2 .button
{
	margin-top: 2em;
}

.extra2 .title h2
{
	font-size: 2em;
}

.extra2 .title .byline
{
	font-size: 0.80em;
}

.extra2 .ebox1,
.extra2 .ebox2,
.extra2 .ebox3
{
	display:inline-block;
	//width: 600px;
	width:30%;
	height:500px;
	
	//border-right: 1px solid rgba(0,0,0,.1);
	
}
/*
.extra2  .ebox1
{
	//display:inline-block;
	
	//float: left;
	
	
	//border-right: 1px solid rgba(0,0,0,.1);
	border:1px solid rgba(0,0,0,.1);
}

.extra2 .ebox2
{
	
	//margin:0px auto;
	//float: right;
}
*/
/*********************************************************************************/
/* Blackboard                                                                    */
/*********************************************************************************/
.blackboard{
	color:#FFF;
}

.section1,.section2,.section3{
	display:none;
	font-size:60px;
	overflow:hidden;
	background:	#9999FF;
	
}
.section1{
	
	height:18em;
}
.section2{
	height:35em;
}
.section3{
	height:50em;
}
.tri{
	//display:none;
	width:0;
	height:0;
	border-width:0 50px 87px ;
	border-style:solid;
	border-color:transparent transparent 	#9999FF;
	
	
}
	/*********************************************************************************/
	/* Section Setting                                                               */
	/*********************************************************************************/
.left{
	display:inline-block;
}
	.s2-cover{
	position:absolute;
	height:60%;
	width:60%;
	top:20%;
	left:30%;
	background:#000;
	opacity:0.3;
	
	
	
	

	}
	.s2-box{
		background: rgba(25, 25, 25, .5);
		position:absolute;
		
	}
	
	.s2-title{
	
		position:relative;
		left:20%;
		top:10%;
	
	
	
	

	}
	.s2-dec-img{
	position:absolute;
	font-size:80px;
	left:5%;
	top:10%;
	
	}
	
	.s2-img{
	width:65%;
	
	position:relative;
	

	}
	.s2-content{
		position:relative;
		left:10%;
		top:20%;
	}

	.s3-box{
	position:absolute;
	
	

	}
	.s3-img{
	width:100%;
	-webkit-filter:brightness(.7);
	
	
	}


	.s3-title {
	font-size:50pt;
	color:#FFF;
	position:relative;
	margin-top:5%;
	font-weight:bold;

	}

	.s3-content{
	font-size:20pt;
	color:#FFF;
	position:relative;

	}



.panel2{
	position:relative;
	height:20em;
	
	//background:#4267B2;
	//opacity:0.5;
	
	color:#FFF;
	//font-weight:bold;
	
}
/*
.panel2{
	height:10em;
	text-align:center;
	top:1.5em;
	position:relative;
	
	
	
}
*/
.panel1{
	
	margin-left:20%;
	margin-right:20%;
	
}
.quote{
	position:relative;
	
}

.panel3{
	width:100%;
	height:16em;
	overflow:hidden;
	
	
}





.frame{
	height:400px;
	width:400px;
	border-radius:50%;
	overflow:hidden;
	position:absolute
	
	
}




.dialog{
	
	position:relative;
	margin-left:3em;
	margin-right:3em;
	margin-top:-2.5em;
	border-radius:25px;
	background:#FFF;
	height:4em;
	color:#E8B300;
	font-size:30px;
	padding:1em;
	text-align:left;
}

.tri-left {
	position:relative;
    border-color: transparent #FFF transparent transparent;
    border-style: solid solid solid solid;
    border-width: 45px;
	top:-0.3em;
	left:2em;
 
    /* 設定 width、height 可更好理解原理 */
    height: 0px;
    width: 0px;
} 
.tri-right {
	position:relative;
    border-color: transparent  transparent transparent #FFF;
    border-style: solid solid solid solid;
    border-width: 45px;
	top:-0.3em;
	left:27.5em;
 
    /* 設定 width、height 可更好理解原理 */
    height: 0px;
    width: 0px;
} 
.bubble{
	position:relative;
	text-align:center;
	display:inline-block;
	font-weight:bold;
	
}
.intro{
	font-size:35px;
	text-align:left;
	
	
}
.more {
			background-image: url("images/arrow.svg");
			background-position: center ;
			//background-repeat: no-repeat;
			background-size: auto;
			border: 1px solid #fff;
			border-radius: 50%;
			color: rgba(255, 255, 255, 0.75);
			display: block;
			height: 2em;
			//text-indent: 0.3em;
			overflow: hidden;
			//white-space: nowrap;
			width: 2em;
			z-index: 2;
			margin: 0 auto 2em auto;
		}

			.more:hover {
				background-color: rgba(255, 255, 255, 0.05);
				border: 1px solid #fff;
				color: #FFF;
			}
.next{
	position:relative;
	color:#FFF;
	

	
}
/*
.bubble:hover{
	border: 1px solid #5f8728;
	border-width:5px;
	
	border-radius: 20px;
}
*/